<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>

    </aside>

    <div class="col-md-8">
      <h3>Activity Feed</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>
  
  <div class="center jumbotron">
    <h1>Welcome to JogTrack</h1>
    <h2>
      <b>Track. Improve. Succeed.</b> <br><br>
      <em>Your Run. Our Mission.</em> <br><br>
      <b><em>READY? <b><em>
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

 <% end %>

