<!DOCTYPE html>
<html>
<head>
    <title>JogTrack | Run & Track</title>
</head>
<body>
    <h1>JogTrack</h1>
    <p>
        This is the home page for the jogging track application
    </p>
</body>
</html>
